html {
	height: 100%;
}

.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-intro {
	font-size: large;
}

.millioner-app {
	padding: 40px 0;
}

.millioner-app img {
	margin: 0 auto;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.submit-btn {
	padding: 10px 20px;
}

form {
	max-width: 80%;
	margin: 0 auto;
}

body {
	background: #000;
}

img {
	border: none
}

ul {
	list-style-type: none;
}

.question_list li {
	line-height: 120%;
	margin-bottom: 9px;
	font: 16px Arial;
	color: rgb(225, 160, 46);
}

.question {
	background: url('../images/question_bg.gif') center top no-repeat;
	width: 100%;
	height: 84px;
	margin-top: 2px;
	font: 19px Arial;
	color: #fff;
	text-align: center;
	margin-bottom: 7px;
}

.question p {
	padding-top: 20px;
}

.line_2 {
	background: url('../images/question_bg.gif') left top no-repeat;
	width: 1000px;
	height: 84px;
}

.top_ans, .bot_ans {
	display: inline-block;
	overflow: auto;
	width: 100%;
}

.ans_1, .ans_2, .ans_0, .ans_3 {
	font: 18px Arial;
	color: #fff;
	margin: 12px 0 0 0;
	vertical-align: text-bottom;
	display: inline-block;
}

.ans ul {
	padding: 0;
	max-width: 690px;
	margin: 0 auto;
}

.ans_1 label, .ans_2 label, .ans_3 label, .ans_4 label, .ans_0 label {
	background: url('../images/anwser_bg.jpg') left top no-repeat;
	width: 340px;
	height: 40px;
	padding: 0;
	color: #fff;
	text-decoration: none;
	display: block;
}

.ans-list li {
	width: 50%;
}

.ans-list li a {
	line-height: 40px;
	display: block;
	color: #fff;
	text-decoration: none;
}

.ans-list li a:hover {
	background: url('../images/anwser_hover_bg.jpg') left top no-repeat;
	color: #000;
}

* {
	box-sizing: border-box;
}

.ans_1 label span, .ans_2 label span {
	padding-left: 10px;
	color: #e1a02e !important
}

* html .ans_1 a {
	width: 337px;
	height: 39px;
}

* html .ans_2 a {
	width: 337px;
	height: 39px;
}

label {
	position: relative;
}

#question {
	margin: 0;
	padding: 0;
}

h1 {
	color: #fff;
}

#question label {
	max-width: 600px;
	display: inline-block;
	width: 100%;
	padding: 0;
	height: 80px;
	overflow: hidden;
	line-height: 80px;
}

#question input {
	padding: 10px 30px;
	font-size: 20px;
}

label input[type="text"] {
	display: block;
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background: transparent;
	outline: none;
	color: #fff;

	padding: 0 45px 0 60px;
	text-transform: uppercase;
}

.ans_1 label span, .ans_2 label span {
	background: url('../images/org_dot.gif') left center no-repeat;
	padding: 0 0 0 10px;
	color: #e1a02e;
	float: left;
	margin: 0 0 0 20px;
	line-height: 40px;
}

input[type="submit"] {
	padding: 20px 35px;
	border: 3px solid yellow;
	outline: none;
	margin: 20px 10px 0;
	background: none;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
}

.game-container {
	display: inline-block;
	width: 100%;
}

.game-panel {
	float: left;
	width: 60%;
}

.game-panel #question_answer {
	display: none;
}

.game-panel #question_answer.active-question {
	display: block;
}

.step-panel {
	float: right;
	width: 40%;
	padding: 0 0 0 10%;
}

.question_list li {
	line-height: 120%;
	margin-bottom: 9px;
	font: 16px Arial;
	color: rgb(225, 160, 46);
}

.num {
	width: 25px;
	text-align: right;
	display: block
}

.money {
	width: 110px;
	margin: -19px 0 0 50px;
	display: block
}

.fire {
	color: #fff !important;
	font-weight: bold !important;
}

.org_bg, #org_bg {
	background: url('../images/money_bg.gif') left top no-repeat;
	width: 173px;
	height: 19px;
	padding-top: 1px;
}

.org_bg .num {
	color: #fff;
}

.org_bg .money {
	color: #000;
	font-weight: bold !important;
	margin: -18px 0 0 50px;
}

.correct-answer-container {
	padding: 30px 0;
	text-align: center;
}

.correct-answer-container label {
	position: static;
	color: #fff;
}

.correct-answer-container select {
	padding: 10px;
	margin: 20px 0 0 0;
}